@use '@/styles/variables' as *;

.cartContainer {
  padding-bottom: 120px; // Espacio para el footer fijo
}

.cartItemList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);

  @media (min-width: $breakpoint-tablet) {
    padding-top: var(--spacing-l);
  }
}
