@import '@/styles/variables';

.cartContainer {
  padding-bottom: 120px; // Espacio para el footer fijo
}

.cartItemList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);

  padding-top: var(--spacing-xxl);
}

