@import 'variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-base);
  background-color: var(--color-secondary);
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-primary);
}