@import '@/styles/variables';

.mainContent {
  padding-top: var(--navbar-height);
  min-height: calc(100vh - var(--navbar-height));
}


@media (max-width: $breakpoint-tablet) {
  .header {
    flex-direction: column;
    gap: var(--spacing-m);
  }
}