// src/components/ProductDetail/ProductDetail.module.scss
@import '@/styles/variables';

.detailContainer {
  display: grid;
  gap: var(--spacing-xxl);
  padding-top: var(--spacing-xxl);
  padding-bottom: var(--spacing-xxl);
  margin-top: var(--navbar-height);
  max-width: 1200px; // Limita el ancho máximo
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 100px;
  }
}

