@use '@/styles/variables' as *;

.detailContainer {
  display: grid;
  gap: var(--spacing-l);
  padding-top: var(--spacing-xl);
  padding-bottom: var(--spacing-xl);
  margin-top: var(--navbar-height);
  grid-template-columns: 1fr;
  padding-left: var(--spacing-l);
  padding-right: var(--spacing-l);

  @media (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-xl);
  }

  @media (min-width: $breakpoint-desktop) {
    grid-template-columns: 1.2fr 0.8fr;
    gap: var(--spacing-xxl);
  }
}

.productInfo {
  display: none;

  @media (min-width: $breakpoint-desktop) {
    display: block;
    grid-column: 1 / -1;
  }
}
