@use '@/styles/variables' as *;

.imageGallery {
  width: 80%;
  min-height: 400px;

  @media (min-width: $breakpoint-tablet) {
    min-height: 500px;
    width: 100%;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 600px;
  }
}

.mainImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding: var(--spacing-s);

  @media (min-width: $breakpoint-tablet) {
    padding: var(--spacing-m);
  }

  @media (min-width: $breakpoint-desktop) {
    padding: var(--spacing-l);
  }
}
