@import '@/styles/variables.scss';

.navbar {
  width: 100%;
  background-color: var(--color-background);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-large);
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.cartContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-s);
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: var(--font-size-base);
  
  img {
    display: block;
  }
  
  span {
    align-self: flex-end;
    line-height: 1;
    font-weight: 400;
  }
}


