@use '@/styles/variables' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200; // Mayor que el header del ProductDetail
  width: 100%;
  background-color: var(--color-background);
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding-top: var(--spacing-m);
  border-bottom: 1px solid transparent;

  &.withBorder {
    // Solo aplicar el borde en pantallas superiores a tablet
    @media (min-width: $breakpoint-desktop) {
      border-bottom: 1px solid var(--color-text-primary);
    }
  }
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--font-size-large);
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 700;

  span {
    font-weight: 400;
  }
}

.cartContainer {
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-s);
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: var(--font-size-base);

  img {
    display: block;
  }

  span {
    align-self: flex-end;
    line-height: 1;
    font-weight: 400;
  }
}

.cartItemCount {
  font-size: var(--font-size-small);
}
