@import '@/styles/variables.scss';

.card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  gap: var(--spacing-m);
  transition: transform 0.2s ease-in-out;
  border: 1px solid var(--color-border-dark);
  aspect-ratio: 1;
  padding: var(--spacing-m);
  padding-top: var(--spacing-xxl);

  &:hover {
    transform: translateY(-5px);
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 250px;

  background-color: var(--color-card-background);
  padding: var(--spacing-s);
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
}
.nameContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.details {
  // Contenedor para la marca y el nombre
}

.brand {
  font-size: var(--font-size-xxsmall);
  font-weight: 100;
  color: var(--color-text-secondary);
  text-transform: uppercase;
}

.model {
  font-size: var(--font-size-xsmall);
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.price {
  font-size: var(--font-size-xsmall);
  font-weight: 500;
  color: var(--color-text-primary);
  text-align: right;
}
