@use '@/styles/variables' as *;

.card {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  height: 100%;
  gap: var(--spacing-m);
  border: 1px solid var(--color-border-dark);
  aspect-ratio: 1;
  padding: var(--spacing-m);
  padding-top: var(--spacing-xxl);
  position: relative;
  overflow: hidden;
  background-color: var(--color-background);

  &::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    mix-blend-mode: difference;
    opacity: 0;
    transition:
      top 0.2s ease-in,
      opacity 0.2s ease-in; // Transición de SALIDA (rápida)
    z-index: 2;
  }

  &:hover {
    &::before {
      top: 0;
      opacity: 1;
      transition:
        top 1.2s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
  }
}

.imageContainer {
  position: relative;
  width: 100%;
  flex: 1; // Ocupa el espacio disponible
  display: flex;
  align-items: center; // Centra verticalmente la imagen
  justify-content: center; // Centra horizontalmente la imagen
  background-color: transparent;
  padding: var(--spacing-s);
  z-index: 3;
  min-height: 0; // Permite que flex funcione correctamente
  margin: var(--spacing-s) 0; // Espacio alrededor de la imagen
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.nameContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.brand {
  font-size: var(--font-size-xxsmall);
  font-weight: 100;
  color: var(--color-text-secondary);
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  position: relative;
}

.model {
  font-size: var(--font-size-xsmall);
  font-weight: 100;
  color: var(--color-text-primary);
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  position: relative;
}

.price {
  font-size: var(--font-size-xsmall);
  font-weight: 500;
  color: var(--color-text-primary);
  text-align: right;
  transition: color 0.2s ease-in-out;
  position: relative;
}
